In [35]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [33]:
temp <- tempfile()
temp2 <- tempfile()

url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip"

download.file(url, temp)
unzip(zipfile = temp, exdir = temp2)
#bank_data <- read_csv(file.path(temp2, "bank.csv"))
bank_data <- read_csv2(file.path(temp2, "bank.csv"))
unlink(c(temp, temp2))
bank_data

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  age = col_double(),
  job = col_character(),
  marital = col_character(),
  education = col_character(),
  default = col_character(),
  balance = col_double(),
  housing = col_character(),
  loan = col_character(),
  contact = col_character(),
  day = col_double(),
  month = col_character(),
  duration = col_double(),
  campaign = col_double(),
  pdays = col_double(),
  previous = col_double(),
  poutcome = col_character(),
  y = col_character()
)

     age job          marital education default balance housing loan contact
1    30  unemployed   married primary   no      1787    no      no   cellular
2    33  services     married secondary no      4789    yes     yes  cellular
3    35  management   single  tertiary  no      1350    yes     no   cellular
⋮    ⋮   ⋮            ⋮       ⋮         ⋮       ⋮       ⋮       ⋮    ⋮
4519 57  technician   married secondary no       295    no      no   cellular
4520 28  blue-collar  married secondary no      1137    no      no   cellular
4521 44  entrepreneur single  tertiary  no      1136    yes     yes  cellular
     day month duration campaign pdays previous poutcome y
1    19  oct    79      1         -1   0        unknown  no
2    11  may   220      1        339   4        failure  no
3    16  apr   185      1        330   1        failure  no
⋮    ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
4519 19  aug   151      11        -1   0        unknown  no
4520  6  feb   129       4       211   3        other    no
4521  3  apr   345       2       249   7        other    no

In [19]:
bank_split <- initial_split(bank_data, prop = 0.75, strata = age)  
bank_train <- training(bank_split)   
bank_test <- testing(bank_split)
bank_train
bank_test

     age job          marital education default balance housing loan contact
1    30  unemployed   married primary   no      1787    no      no   cellular
2    35  management   single  tertiary  no      1350    yes     no   cellular
3    59  blue-collar  married secondary no         0    yes     no   unknown
⋮    ⋮   ⋮            ⋮       ⋮         ⋮       ⋮       ⋮       ⋮    ⋮
3390 57  technician   married secondary no       295    no      no   cellular
3391 28  blue-collar  married secondary no      1137    no      no   cellular
3392 44  entrepreneur single  tertiary  no      1136    yes     yes  cellular
     day month duration campaign pdays previous poutcome y
1    19  oct    79      1         -1   0        unknown  no
2    16  apr   185      1        330   1        failure  no
3     5  may   226      1         -1   0        unknown  no
⋮    ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
3390 19  aug   151      11        -1   0        unknown  no
3391  6  feb   129       4       211   3        other    no
3392  3  apr   345       2       249   7        other    no

     age job           marital education default balance housing loan contact
1    33  services      married secondary no      4789    yes     yes  cellular
2    30  management    married tertiary  no      1476    yes     yes  unknown
3    36  self-employed married tertiary  no       307    yes     no   cellular
⋮    ⋮   ⋮             ⋮       ⋮         ⋮       ⋮       ⋮       ⋮    ⋮
1127 38  blue-collar   married secondary no       1205   yes     no   cellular
1128 33  services      married secondary no       -333   yes     no   cellular
1129 57  self-employed married tertiary  yes     -3313   yes     yes  unknown
     day month duration campaign pdays previous poutcome y
1    11  may   220      1        339   4        failure  no
2     3  jun   199      4         -1   0        unknown  no
3    14  may   341      1        330   2        other    no
⋮    ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
1127 20  apr    45      4        153   1        failure  no
1128 30  jul   329      5         -1   0        unknown  no
1129  9  may   153      1         -1   0        unknown  no

In [27]:
bank_recipe <- recipe(age ~ ., data = bank_train) %>%
    step_scale(all_predictors()) %>%
    step_center(all_predictors())
bank_recipe

Data Recipe

Inputs:

      role #variables
   outcome          1
 predictor         16

Operations:

Scaling for all_predictors()
Centering for all_predictors()

In [29]:
set.seed(9999) 

knn_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) %>%
       set_engine("kknn") %>%
       set_mode("classification")

bank_fit <- workflow() %>%
       add_recipe(bank_recipe) %>%
       add_model(knn_spec) %>%
       fit(data = bank_train)

bank_fit

ERROR: Error: All columns selected for the step should be numeric