In [3]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

Introduction
    Relevant background on topic
        This data was gathered from a direct marketing campaign of a Portuguese baking institution.           The bank collected information from their clients over the phone, and more than one contact to  the same client was required. 
    State question we are trying to answer 
        Initial question: Which variable most influences whether or not someone will subscribe to a term deposit.
        Which demographic of a client is best (i.e. who is the most likely to subscribe a term deposit)
    Identify and describe dataset
        The Bank Marketing Dataset discusses multiple characteristics of clients of a bank in hopes to predict whether they will subscribe to a term deposit. Variables in the set include age, job, education, marital status, and more. 

Preliminary Exploratory Data Analysis
    Show that dataset can be read from web into R
        library(tidyverse)
        Bank_marketing <- read_csv(“...”)
    Put data into tidy format
        The data we used is already tidy when downloaded
    Using only training data
        Summarize data in at least one table
        Visualize data with at least one plot 
        
Methods
    Explain how you’ll conduct data analysis and which variables/columns you’ll use
        Variables to consider: age, balance, job, education, housing loan, personal loan
    Describe at least one way that you’ll visualize results
        Use scatter point graphs with different point colors

Expected Outcomes & Significance
    What do you expect to find
        Use the variables we chose to predict whether a client will subscribe to a term deposit, and therefore find which variable influenced the will of a client on subscribing a term deposit the most. After finishing the model we will check our predictions with the real data to see how accurate our predictions are.
    What impact will your findings have
        We can use this data to predict groups who are more interested in the bank promotion. So we can target them when the bank decides to do marketing strategy.
    What future questions could this lead to
        Are there any other predicates to add for choosing the strategy?
        Some of predicates will disturb this data results
        How do different variables intersect with one another to impact whether or not someone will subscribe to a bank deposit
        Is there a better model to predict this data?

In [4]:
temp <- tempfile()
temp2 <- tempfile()

url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip"

download.file(url, temp)
unzip(zipfile = temp, exdir = temp2)
#bank_data <- read_csv(file.path(temp2, "bank.csv"))
bank_data <- read_csv2(file.path(temp2, "bank.csv"))
unlink(c(temp, temp2))
bank_data

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  age = col_double(),
  job = col_character(),
  marital = col_character(),
  education = col_character(),
  default = col_character(),
  balance = col_double(),
  housing = col_character(),
  loan = col_character(),
  contact = col_character(),
  day = col_double(),
  month = col_character(),
  duration = col_double(),
  campaign = col_double(),
  pdays = col_double(),
  previous = col_double(),
  poutcome = col_character(),
  y = col_character()
)

     age job          marital education default balance housing loan contact
1    30  unemployed   married primary   no      1787    no      no   cellular
2    33  services     married secondary no      4789    yes     yes  cellular
3    35  management   single  tertiary  no      1350    yes     no   cellular
⋮    ⋮   ⋮            ⋮       ⋮         ⋮       ⋮       ⋮       ⋮    ⋮
4519 57  technician   married secondary no       295    no      no   cellular
4520 28  blue-collar  married secondary no      1137    no      no   cellular
4521 44  entrepreneur single  tertiary  no      1136    yes     yes  cellular
     day month duration campaign pdays previous poutcome y
1    19  oct    79      1         -1   0        unknown  no
2    11  may   220      1        339   4        failure  no
3    16  apr   185      1        330   1        failure  no
⋮    ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
4519 19  aug   151      11        -1   0        unknown  no
4520  6  feb   129       4       211   3        other    no
4521  3  apr   345       2       249   7        other    no

In [5]:
bank_split <- initial_split(bank_data, prop = 0.75, strata = age)  
bank_train <- training(bank_split)   
bank_test <- testing(bank_split)
bank_train
bank_test

     age job           marital education default balance housing loan contact
1    30  unemployed    married primary   no      1787    no      no   cellular
2    35  management    single  tertiary  no      1350    yes     no   cellular
3    30  management    married tertiary  no      1476    yes     yes  unknown
⋮    ⋮   ⋮             ⋮       ⋮         ⋮       ⋮       ⋮       ⋮    ⋮
3390 33  services      married secondary no       -333   yes     no   cellular
3391 57  self-employed married tertiary  yes     -3313   yes     yes  unknown
3392 44  entrepreneur  single  tertiary  no       1136   yes     yes  cellular
     day month duration campaign pdays previous poutcome y
1    19  oct    79      1         -1   0        unknown  no
2    16  apr   185      1        330   1        failure  no
3     3  jun   199      4         -1   0        unknown  no
⋮    ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
3390 30  jul   329      5         -1   0        unknown  no
3391  9  may   153      1         -1   0        unknown  no
3392  3  apr   345      2        249   7        other    no

     age job           marital education default balance housing loan contact
1    33  services      married secondary no      4789    yes     yes  cellular
2    36  self-employed married tertiary  no       307    yes     no   cellular
3    41  entrepreneur  married tertiary  no       221    yes     no   unknown
⋮    ⋮   ⋮             ⋮       ⋮         ⋮       ⋮       ⋮       ⋮    ⋮
1127 49  blue-collar   married secondary no       322    no      no   cellular
1128 57  technician    married secondary no       295    no      no   cellular
1129 28  blue-collar   married secondary no      1137    no      no   cellular
     day month duration campaign pdays previous poutcome y
1    11  may   220      1        339   4        failure  no
2    14  may   341      1        330   2        other    no
3    14  may    57      2         -1   0        unknown  no
⋮    ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
1127 14  aug   356       2        -1   0        unknown  no
1128 19  aug   151      11        -1   0        unknown  no
1129  6  feb   129       4       211   3        other    no

In [9]:
bank_recipe <- recipe(age ~ balance, data = bank_train) %>%
    step_scale(all_predictors()) %>%
    step_center(all_predictors())
bank_recipe

Data Recipe

Inputs:

      role #variables
   outcome          1
 predictor          1

Operations:

Scaling for all_predictors()
Centering for all_predictors()

In [11]:
set.seed(9999) 

knn_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) %>%
       set_engine("kknn") %>%
       set_mode("classification")

bank_fit <- workflow() %>%
       add_recipe(bank_recipe) %>%
       add_model(knn_spec)

bank_fit

══ Workflow ════════════════════════════════════════════════════════════════════
Preprocessor: Recipe
Model: nearest_neighbor()

── Preprocessor ────────────────────────────────────────────────────────────────
2 Recipe Steps

● step_scale()
● step_center()

── Model ───────────────────────────────────────────────────────────────────────
K-Nearest Neighbor Model Specification (classification)

Main Arguments:
  neighbors = tune()
  weight_func = rectangular

Computational engine: kknn